@charset "utf-8";

:host {
  display: block;
  /* width: 800px; */
  /* box-sizing: content-box; */
}

slot {
  display: none;
}

pre {
  overflow-x: scroll;
  line-height: 1.6;
  background: var(--background-light);
  margin: var(--indent) calc(var(--indent) / 2);
  margin-top: 0;
  padding: var(--indent);
  border: 0.6em solid var(--color-default-light);
  border-left-width: 1.2em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
