@import 'style/import.css';
@import 'palette.css';

:root {
  --background-light: #fff;
  --background: #eee;
  --background-dark: #ddd;

  --foreground-light: #222;
  --foreground: #111;
  --foreground-dark: #000;

  --aside: 18%;
  --padding: var(--indent) calc(var(--indent) / 2);
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color:      var(--foreground);
  overscroll-behavior: none;

  display: grid;
  grid-template-columns: var(--aside) auto;
  grid-template-rows: fit-content(120px) auto;
  grid-template-areas: "header header" "aside main";
  grid-column-gap: 2px;
  height: var(--height);

  font-family: var(--font);

  font-size: 16px;
  font-weight: 200;

  height: 100%;
  margin-top: calc(header);
  /* overflow: hidden; */
}

material-header {
  grid-row: header;
  grid-column: header;
  position: sticky;
  top: 0;
  z-index: 2;
}

view-aside {
  padding-top: 1em;
  grid-row: aside;
  grid-column: aside;
}

view-aside a.active {
  color: red;
}

main {
  grid-row: main;
  grid-column: main;
  /* display: block; */
  /* max-width: calc(100% - var(--aside)); */
  /* height: 100vh - header; вау! */
  /* overflow-y: auto;
  overflow-x: visible; */
}

main > * {
  display: none;
}

main > *:target {
  display: block;
}

main > page-default {
  display: block;
}

main > *:target ~ page-default {
  display: none;
}
