@import 'style/import.css';
@import 'palette.css';

:root {
  --background-light: #fff;
  --background: #eee;
  --background-dark: #ddd;

  --foreground-light: #222;
  --foreground: #111;
  --foreground-dark: #000;

  --aside: 20%;
  --padding: var(--indent) calc(var(--indent) / 2);
}

body {
  background: var(--background);
  color:      var(--foreground);

  display: grid;
  grid-template-columns: var(--aside) auto;
  grid-template-rows: fit-content(120px) auto;
  grid-template-areas: "header header" "aside main";
  grid-column-gap: var(--indent);
  height: var(--height);

  font-family: var(--font);
  /* padding: var(--padding); */

  font-size: 16px;
  font-weight: 200;

  /* position: relative; */
}

material-header {
  grid-row: header;
  grid-column: header;
  position: sticky;
  top: 0;
  z-index: 2;
}

aside {
  grid-column: aside;
}

aside a {
  display: block;
  background: var(--background-light);
  color: silver;
  margin: calc(var(--indent) / 2) 0;
  padding: var(--padding);
  text-decoration: none;
  cursor: pointer;
}

aside a:hover {
  color: var(--foreground);
  border-right: 1px solid var(--foreground);
}

aside a:active, aside a.active {
  color: gray;
}

aside > header > a {
  background: none;
  text-align: right;
  font-size: 1.2em;
}

main:before {
  display: block;
  border-left: 1px solid gray;
  content: '';
  height: 100%;
  float: left;
  margin-left: calc(var(--indent) / -2);
}

main > * {
  display: none;
}

main > *:target {
  display: block;
}

main > page-default {
  display: block;
}

main > *:target ~ page-default {
  display: none;
}

/* h3, h4 {display: none; }
h1, h2, h3, h4, h5, h6 { font-weight: 100; }
h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

p { line-height: 1.5; margin: 16px 0; }

div.source {
  background: var(--background-light);
  padding: var(--indent) 1.2em;
  margin: var(--indent);
  border-left: 1.2em solid #383838;
  line-height: 1.5;
}
div.source.center {
  text-align: center;
}
pre {
  font-family: "Courier New", Couriery, monospace;
  font-weight: 100;
  background: var(--background-light);
  padding: var(--padding);
  padding-left: 1.2em;
  margin: var(--indent);
  border-left: 1.2em solid #555;
} */

/* article { margin: var(--indent); } */
