@charset "utf-8";

:host {

}

div.root {

}

h1, h2, h3, h4, h5, h6 { font-weight: 100; }
h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

